body {
  background-color: black;
  font-family: Helvetica;
  color: seashell;
  opacity: 0.9;
}
.header {
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
}
#logo {
  background: url (resources/images/img-tea-cozy-logo.png);
  height: 50px;
}
