body {
  background-color: black;
  font-family: Helvetica;
  color: seashell;
  opacity: 0.9;
  font-size: 22px;
}
.header {
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  position: fixed;
  justify-content: space-between;
}
.header img {
  height: 50px;
  margin-left: 10px;
}
.header nav {
  color: seashell;
  align-items: center;
  display: flex;
  margin-right: 10px;
}
